<div class="outer-div">


<div class="buttons-div">
  <a routerLink = "/admin" >
    <button mat-stroked-button>Admin Panel</button>
  </a>
  <a routerLink = "/fileupload">
    <button mat-stroked-button >Image Gallery </button>
  </a>

</div>
<div class ="form_wrapper">
<div style="text-align: center;">
    <h1>Add or Update a post</h1>
</div>
<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" >
<!--    <input type="hidden" style=" color: blueviolet;" name="$key" [(ngModel)]="model.$key">-->

    <mat-form-field hintLabel="Max 70 characters" appearance="fill" style="width: 90%;">
        <mat-label style="color:whitesmoke">Enter the title of your post</mat-label>
        <input matInput #input maxlength="70"
               placeholder="My title Goes here"
               formControlName="title"
            (change)="onTitleChange(input)">
        <mat-hint align="end">{{input.value?.length || 0}}/70</mat-hint>
    </mat-form-field>

    <div class="form-group">
        <label for="textcontent">Text Editor</label>
        <ckeditor
                  id="textcontent"
                  type="divarea"
                  formControlName="editorContent"
            (change)="onChange($event)" style="color:black">
        </ckeditor>
    </div>
    <button type="submit" title="Publish input as a post" mat-raised-button
        style="margin-right: 1em;">Submit</button>
    <button type="button" title="Clear all input fields" (click)="onClear()" mat-raised-button color="warn"
        style="margin-right: 1em;">Clear</button>
</form>
<h4>HTML Review</h4>
  <textarea #txtAreaValue (input)="textAreaEdit(txtAreaValue.value)" style="margin-top: 15px; width: 100%; height:250px" >
    {{uploadForm.value.editorContent}}
  </textarea>
</div>
</div>
