<div class="footer-class-container">
    <div class="footer-class">
        <div class="logo-footer" style="text-align: center;">
            <img src="assets/nemilogo.png" alt="Image1" routerLink="/landing" style="cursor:pointer" />
        </div>
        <div class="footer-info" data-aos="zoom-out-right">
            <h2>Find us on</h2>
            <!-- <div class="icon">
                <span><i class="fa fa-lg fa-map-marker"></i></span>
                <span> Muthithi Road Westlands, Nairobi</span>
            </div> -->
            <div class="icon">
                <span><i class="fa fa-lg fa-phone-square"></i></span>
                <a href="tel:+254 721 921 504"> +254 721 921 504</a>
            </div>
            <div class="icon">
                <span><i class="fa fa-lg fa-phone-square"></i></span>
                <a href="tel:+254 725 394 512"> +254 725 394 512</a>
            </div>
            <div class="icon">
                <img src="/assets/email.png" alt="img" height="20px" width="18px" />
                <a href="mailto:anthonyangatia@gmail.com"> nemifx@gmail.com</a>

            </div>
            <div class="icon">
                <img src="/assets/internet.png" alt="img" height="15px" />
                <a href="http://www.asperatoursandtravel.com"> www.nemiforex.com</a>
            </div>

        </div>
    </div>
    <div style="width: 90%; margin: auto;">
        <hr>
    </div>
    <div class="social-links" style="text-align: center;" data-aos="flip-left" data-aos-duration="2000">
        <i class="fa fa-3x fa-whatsapp"></i>
        <i class="fa fa-3x fa-twitter-square"></i>
        <i class="fa fa-3x fa-telegram"></i>
    </div>
    <div style="width: 90%; margin: auto;">
        <hr>
    </div>
    <div class="copyright" style="text-align: center; padding: 30px;">
        <span><i class="fa fa-lg fa-copyright"></i>Copyright2020:NemiFx</span>
    </div>
</div>