<div class="footer-class-container">
    <div class="footer-class">
        <div class="logo-footer" style="text-align: center;">
            <a routerLink="/"> <img src="assets/nemilogo.png" alt="Image1" style="cursor:pointer" /> </a>
        </div>
        <div class="footer-info" data-aos="zoom-out-right">
            <h2>Find us on</h2>
            <!-- <div class="icon">
                <span><i class="fa fa-lg fa-map-marker"></i></span>
                <span> Muthithi Road Westlands, Nairobi</span>
            </div> -->
            <div class="icon">
                <span><i class="fa fa-lg fa-phone-square"></i></span>
                <a href="tel:+254 703 317 619"> +254 703 317 619</a>

            </div>
            <div class="icon">
                <span><i class="fa fa-lg fa-phone-square"></i></span>
                <a href="tel:+254 798 196 969"> +254 798 196 969</a>
            </div>
            <div class="icon">
                <img src="/assets/email.png" alt="img" height="20px" width="18px" />
                <a href="mailto:anthonyangatia@gmail.com" target="_blank" rel="noopener noreferrer">
                    nemifx@gmail.com</a>

            </div>
            <div class="icon">
                <img src="/assets/internet.png" alt="img" height="15px" />
                <a href="#"> www.nemiforex.com</a>
            </div>

        </div>
    </div>
    <div style="width: 90%; margin: auto;">
        <hr>
    </div>
    <div class="social-links" style="text-align: center;" data-aos="flip-left" data-aos-duration="2000">
        <!-- <a href="#" target="_blank"><i class="fa fa-3x fa-whatsapp"></i></a> -->
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-3x fa-twitter-square"></i></a>
        <a href="https://t.me/nemifx_moneymining" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-3x fa-telegram"></i></a>
    </div>
    <div style="width: 90%; margin: auto;">
        <hr>
    </div>
    <div class="copyright" style="text-align: center; padding: 30px;">
        <span><i class="fa fa-lg fa-copyright"></i>Copyright2020:NemiFx</span>
    </div>
</div>