@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
:host{
  font-family: "Raleway", sans-serif;
}

/* * {
  font-family: "Raleway", sans-serif;
} */
.heading{
  text-align: center;
  color: black;;
}
.cards{
  margin: 2em 1em;
  max-width: 80vw;

}

mat-expansion-panel-header {
  border-left: 5px solid #fa5001;
  transition-duration: 200ms;
  transition-property: border-left;
  transition-timing-function: ease-in-out;
}
mat-expansion-panel-header > *{
  padding:5px;
}

mat-expansion-panel-header:hover {
  border-left: 10px solid #f06d06;
}
.small-screen{
  display: none;
}

.outer-div {

  border: 1px solid grey;
  border-radius: 3px;
  margin: auto;
  margin-top: 8px;
  max-width: 80vw;
}

.buttons-div {
  background-color: #5a5a5a;
  /* border: 1px solid red; */
  display: flex;
}

.buttons-div>button {
  margin: 5px;
}
@media only screen and (max-width: 635px) {
   .small-screen{
    display: block;
  }
  .big-screen{
    display: none;
  }
  .outer-div{
    max-width:95vw;
  }
  .cards{
    max-width: 95vw;
    margin:2em 0.5em;
  }
  
}
