<div class="uploads-inner-left">
  <div>
    <h1 class="heading">
      Recent Tips <br />
    </h1>
  </div>

  <div class="cards">
    <mat-expansion-panel class="expansion-panel" style="margin: 8px;;" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" *ngFor="let singleUpload of uploads" class="uploads-card">
      <mat-expansion-panel-header>
        <div style="flex:0.5; margin: auto;">
          <mat-icon>poll</mat-icon>
        </div>
        <div style="flex:5">
          <p>{{ singleUpload.title | slice:0:70 }}</p>
        </div>
        <div style="flex:2">
          <p style="color: #fa5001;">{{ singleUpload.time | date: 'EEE, MMM d, h:mm a'}}</p>
        </div>

      </mat-expansion-panel-header>

      <p [innerHTML]="singleUpload.editorContent"></p>
    </mat-expansion-panel>
  </div>
</div>
<app-footer></app-footer>