@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

mat-card {
  border-left: 5px solid #fa5001;
  transition-duration: 200ms;
  transition-property: border-left;
  transition-timing-function: ease-in-out;
}

mat-card:hover {
  border-left: 10px solid #f06d06;
}

.uploads-outer {
  border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #212121;
  max-height: 450px;
}

.uploads-inner-left {
  margin: auto;

  color: white;
}

.uploads-inner-right {
  overflow-y: auto;
  /* border: 3px solid blueviolet; */
  max-width: 700px;
}

.uploads-inner-right>mat-card>* {
  /* border: 2px solid white; */
  padding: 5px;
  /* margin: 5px; */
}

.uploads-outer>div {
  /* border: 1px solid red; */
  max-height: 300px;
}

.uploads-card {
  /* border: 1px solid red; */
  margin: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  cursor: pointer;
}
/* For debuggin purpose */
.uploads-card>* {
  /* border: 1px solid green; */
}
@media only screen and (max-width: 635px) {
    .uploads-outer{
      display: grid;
      grid-template-columns: 1fr;

    }
    
}
