<div class="uploads-inner-left">
  <div>
    <h1 class="heading">
      Recent Tips <br />
    </h1>
  </div>

  <div class="cards">
    <mat-card class="uploads-card" *ngFor="let singleUpload of uploads" (click)="onOpen(singleUpload)">

      <div style="flex:0.5"><img src="assets/news.svg" alt="podcast" /></div>
      <div style="flex:5">
        <p>{{ singleUpload.title | slice:0:70 }}</p>
      </div>
      <div style="flex:2">
        <p style="color: #fa5001;">{{ singleUpload.time | date: 'EEE, MMM d, h:mm a'}}</p>
      </div>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>