<p>ck-editor-form-sample works!</p>
<form (ngSubmit)="onSubmit(demoForm.value)" #demoForm="ngForm">
    <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.title" name="title">
    </div>
    <div class="form-group">
        <label for="name">Editor</label>
        <ckeditor #editor [(ngModel)]="model.content" id="description" name="content" type="divarea">
        </ckeditor>
    </div>

    <p><button type="reset" (click)="reset()">Reset form</button></p>
    <p><button type="submit">Submit this form</button></p>
</form>