<div class="uploads-outer">
  <div class="uploads-inner-left">
    <h1 style="text-align: center; font-size: 42px;">
      Recent <br />Tips <br />
    </h1>
  </div>
  <div class="uploads-inner-right">
    <!-- <mat-card *ngFor="let singleUpload of uploads" class="uploads-card" routerLink="/uploads">

      <div style="flex:0.5"><img src="assets/news.svg" alt="podcast" /></div>
      <div style="flex:5">
        <p>{{ singleUpload.title | slice:0:70 }}</p>
      </div>
      <div style="flex:2">
        <p style="color: #fa5001;">{{ singleUpload.time | date: 'EEE, MMM d, h:mm a'}}</p>
      </div>

    </mat-card> -->

    <mat-expansion-panel class="expansion-panel" style="margin: 8px;;" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" *ngFor="let singleUpload of uploads" class="uploads-card">
      <mat-expansion-panel-header>
        <div style="flex:0.5; margin: auto;">
          <mat-icon>poll</mat-icon>
        </div>
        <div style="flex:5">
          <p>{{ singleUpload.title | slice:0:70 }}</p>
        </div>
        <div style="flex:2">
          <p style="color: #fa5001;">{{ singleUpload.time | date: 'EEE, MMM d, h:mm a'}}</p>
        </div>
        <!-- <span style="padding-right:5px;">{{ singleUpload.time | date: 'EEE, MMM d, h:mm a'}}</span> -->

      </mat-expansion-panel-header>

      <p [innerHTML]="singleUpload.editorContent"></p>
    </mat-expansion-panel>
    <div class="call-buttons">
      <a routerLink="/uploads">
        More
      </a>
    </div>

  </div>
</div>