<style>
    .cell {
        padding: 8px;
        margin: 5px;
    }

    .cards {
        margin: 2em 1em;
        max-width: 80vw;

    }

    .heading {
        text-align: center;
        color: black;
    }

    .outer-div {
        border: 1px solid grey;
        border-radius: 3px;
        margin: auto;
        margin-top: 8px;
        max-width: 80vw;
    }

    .buttons-div {
        background-color: #5a5a5a;
        display: flex;
    }

    .buttons-div>button, a {
        margin: 5px;
      color: inherit;
    }

    @media only screen and (max-width: 635px) {
        .outer-div {
            max-width: 95vw;
        }

        .cards {
            max-width: 95vw;
            margin: 2em 0.5em;
        }

    }
</style>
<div>
    <h1 class="heading">
        Admin Panel
    </h1>
    <h2 style="color: #5a5a5a;">This page is best viewed on a large screen device</h2>
</div>
<div class="outer-div">
    <div class="buttons-div">
      <a>
        <button mat-stroked-button (click)="onMaintenance()">View tips </button>
      </a>
      <a routerLink = "/addpost">
        <button mat-stroked-button (click)="onAdd()">Add tip </button>
      </a>
      <a routerLink = "/fileupload" >
        <button mat-stroked-button>Upload Files</button>
      </a>
      <a>
        <button mat-stroked-button (click)="onMaintenance()">View Files</button>
      </a>

    </div>
    <div class="cards">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="Title">
                <th class="cell" mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td class="cell" mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
            <!-- Content Column -->
            <ng-container matColumnDef="content">
                <th class="cell" class="cell" mat-header-cell *matHeaderCellDef> Content </th>
                <td class="cell" mat-cell *matCellDef="let element"> {{element.editorContent | slice: 0:60}}... </td>
            </ng-container>
            <!-- Time Column -->
            <ng-container matColumnDef="Time">
                <th class="cell" mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                <td class="cell" mat-cell *matCellDef="let element">
                    {{element.time | date: 'd/M/yy, h:mm a'}} </td>
            </ng-container>
            <!-- Update Column -->
            <ng-container matColumnDef="Update">
                <th class="cell" mat-header-cell *matHeaderCellDef mat-header> Update </th>
                <td class="cell" style="padding: 8px; margin: 5px;" mat-cell *matCellDef="let element"> <button
                        mat-flat-button color="primary" (click)="onUpdate(element)">
                        Update</button></td>
            </ng-container>
            <!-- Delete Column -->
            <ng-container matColumnDef="Delete">
                <th class="cell" mat-header-cell *matHeaderCellDef mat-header> Delete </th>
                <td class="cell" mat-cell *matCellDef="let element"><button mat-flat-button color="warn"
                        (click)="onDelete(element.$key)">
                        Delete</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</div>
<app-footer></app-footer>
