.nav_container {
    /* position:absolute;  */
    color: white;
    background-color: #212121;
    /* position: fixed; */
    /* width: 99.9vw; */
    /* border: 1px solid #008889; */
  
  }
  .mat-toolbar2 {
    color: white;
    background-color:#212121;
    position: fixed;
    width: 100vw;
    z-index: 100;
    /* border: 1px solid #008889; */
    
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
  }
  .logo {
    height: 45px;
    padding: 15px 5px 5px 5px;
  }
  
  .nav_links {
    list-style-type: none;
    cursor: pointer;
    
  }
  .nav_links li {
    display: inline;
    padding: 0px 20px;
    font-family: 'Raleway', sans-serif;
  }
  .header li,
  a,
  button {
    font-size: 16px;
    text-decoration: none;
  }
  .nav_links li:hover {
    text-decoration-line: underline;
  }
  mat-drawer{
    color:white;
    position: fixed;
    min-width:40vw;
    padding: 8px;
  }

   .nav_links_side  > ul >li{
    margin: 8px;
    padding:8px;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
  }
  .nav_links_side > ul > li > a{
    color: white;
  }
  mat-toolbar{
    font-family: 'Raleway', sans-serif;
  }
  .burger-btn{
    display: none;
    
  }
  .nav_spacer_1{
    display:none;
  }
  .nav_spacer_1 > a{
    color: white;
    margin: auto;
    font-size: 18pt;
    

  }
  @media only screen and (max-width: 635px) {
    .burger-btn{
      display: block;
      
    }
    .nav_links{
      display:none;
    }
    .nav_spacer_1{
      display:flex;
    }
    .nav_spacer_2{
      display: none;
    }

  }
  
 