<div class="nav_container">
    <header class="header">
        <img class="logo" src="assets/nemilogo.png" alt="Logo" />
        <nav class="nav_links">
            <li>Recent Posts</li>
            <li>Analysis</li>
            <li>Crypto markets</li>
            <li>Community</li>
        </nav>
    </header>
</div>
<div class="section_1" (scroll)="onWindowScroll($event)">
    <div class="main-call">
        <h1>Supercharge your<br> Trading Decisions</h1>
    </div>
    <div class="sub-call">
        <h3>
            Check our recent tips to help you make informed decisions and learn from the masters. We've got a wide range
            of spellbinding insights for you . </h3>
    </div>
    <div class="call-buttons">
        <a href="#">
            How to trade
        </a>
        <a href="#">Latest Tips</a>
    </div>
    <!-- Main -->
    <!-- Body -->
    <div class="container-body">
        <app-uploads-overview></app-uploads-overview>
        <div class="action-divs-container">
            <div class="action">
                <div class="img">
                    <img src="assets/trading.svg" alt="Image1" />
                </div>
                <div>
                    <h3>Trading Basics</h3>
                </div>
            </div>
            <div class="action">
                <div class="img">
                    <img src="assets/phone.svg" alt="Image1" />
                </div>
                <div>
                    <h3>Chat with us</h3>
                </div>
            </div>
            <div class="action">
                <div class="img">
                    <img src="assets/ratings.svg" alt="Image1" />
                </div>
                <div>
                    <h3>Customer Experience</h3>
                </div>
            </div>
        </div>
        <div>
            <h1 class="why_us">
                Why Us
            </h1>
        </div>
        <div class="vl"></div>
        <!-- <hr >
      <div class="vertical-line2" >
          <div class="vl"></div>
          <div class="vl"></div>
          <div class="vl"></div>
      </div> -->
        <div class="reason-div">
            <div>
                <div class="img">
                    <img src="assets/reliability.svg" alt="Image1" />
                </div>
                <div>
                    <h3>Reliable</h3>
                </div>
                <div>
                    <p style="text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                        dicta dolores asperiores doloribus qui possimus dolorum, obcaecati
                        pellendus!
                    </p>
                </div>
            </div>
            <div class="reason-2">
                <div class="img">
                    <img src="assets/trust.svg" alt="Image1" />
                </div>
                <div>
                    <h3>Trust worthy</h3>
                </div>
                <div>
                    <p style="text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                        dicta dolores asperiores doloribus qui possimus dolorum, obcaecati
                    </p>
                </div>
            </div>
            <div class="reason-3">
                <div class="img">
                    <img src="assets/obligation.svg" alt="Image1" />
                </div>
                <div>
                    <h3>Commited</h3>
                </div>
                <div>
                    <p style="text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla earum
                        voluptatem eius quasi, quisquam eaque aliquam debitis quam accusamus
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>