.section_1 {
    /* position: absolute; */
    border: 0.1px solid rgb(124,98,22, 0.001);
    background: linear-gradient(
        to bottom right,
        rgba(245, 246, 252, 0),
        rgba(204, 174, 3, 0.452)
      ),
      url("/assets/Section1Ggrnd.jpg");
    background-position: center center;
    background-size: cover;
    height: 90vh;
    background-color: darkolivegreen;
    /* margin-top: 1em; */
    /* width: 99.79vw; */
  }
 /* 
 *Media Query for image size */
 @media (max-width: 1600px){
   .section_1{
    background: linear-gradient(
      to bottom right,
      rgba(245, 246, 252, 0),
      rgba(204, 174, 3, 0.452)
    ),
    url("/assets/Section1Ggrnd_medium.jpg");
   }
 }
 @media (max-width: 800px){
  .section_1{
    background: linear-gradient(
      to bottom right,
      rgba(245, 246, 252, 0),
      rgba(204, 174, 3, 0.452)
    ), url("/assets/Section1Ggrnd_small.jpg");
  }
}
  
  /* ****************** Call *************************/
  /******************* to action *********************/
  /******************* section ***********************/
  .main-call {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    /* border: 1px solid white; */
    /* padding: 15px; */
    margin: 2em 0em 0em 30px;
    width: 50vw;
    /* color: whitesmoke; */
  }
  .mant-font{
   
    font-family: Manterah;
    font-size: 42pt;
    /* border: 1px solid yellow; */
  }
  .mant-font > h1{
    margin:0px 5px 0px 5px;
  }

  .mobile{
    display:none;
  }
  .sub-call {
    /* border:1px solid red; */
    width: 50vw;
    /* padding: 15px; */
    margin: 0em 0em 0em 30px;
    color: white;
  }
  .call-buttons {
    text-align: center;
    width: 80vw;
  }
  .call-buttons > a {
    text-decoration:none;
    border-radius: 0px;
    margin: 0px 15px;
    color: aliceblue;
    font-size: 24px;
    background-color: #fa5001;
    padding: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 1px 3px 9px #212121;
    transition: box-shadow, background-color 0.5s ease 0s;
  }
  .call-buttons > a:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(207, 66, 0);
  }
  
  /*  */
  /****** Main ******* */
  /****** Body ******* */
  .container-body {
    border-radius: 5px;
    background-color: white;
    color: black;
    margin: 2em 2em 1em 2em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* .action-divs-container {
    border: 1px solid rgb(231, 130, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    padding: 5em;
    margin: 1em;
    min-height: 30vh;
    background-image: url("/assets/wave.svg");
    background-repeat: no-repeat;
  } */
  .about-us{
    margin: 10em 0px 10em 0px;
    /* border: 1px solid rgb(231, 130, 0); */
    text-align: center;
    
  }
  .nemi-description{
    /* border: 1px solid blueviolet; */
    text-align: center;
  }
  
  .action {
    /* border: 1px solid green; */
    text-align: center;
    padding: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .action:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .action > div {
    margin: 1em 0px;
  }
  
  .img > img {
    width: 60px;
    height: 60px;
  }
  /* **** *************************/
  /* *******Affirmation **********/
  /* ********* ******************/
  .why_us {
    font-size: 42px;
    text-align: center;
    background-color: rgba(139, 156, 172, 0.3);
    /* border: 1px solid; */
    padding: 45px;
  }
  .reason-div {
    /* border: 1px solid brown; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    margin: 1em;
    padding: 5em;
  }
  .reason-div > div {
    /* border: 1px solid rgba(0, 0, 255, 0.2); */
    padding: 25px;
    text-align: center;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2); */
  }
  .footer{
    min-height: 50vh;
    background-color: #212121;
  }
  /* **********************U******** */
  /* ***********Small laptops************ */
  /* ***************************** */
 
  /* **********************U******** */
  /* ***********Tablets************ */
  /* ***************************** */
  @media only screen and (max-width: 890px) {
    .main-call {
      font-size: 20px;
      
    }
    .mant-font{
      font-size:32pt;
    }
    .why_us {
      font-size: 20px;
    }
    
    .reason-div {
      /* border: 1px solid brown; */
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 3em;
      margin: 1em;
      padding: 5em 1em;
    }
  }
  /* **********************U******** */
  /* ***********Tablets************ */
  /* ***************************** */
  @media only screen and (max-width: 780px) {
    .reason-div {
      /* border: 1px solid brown; */
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3em;
      margin: 1em;
      padding: 5em 1em;
    }
  }
  @media only screen and (max-width: 635px) {
    .main-call {
      display: none;
      /* border: 1px solid white; */
      width: 80vw;
      margin-top: 10em;
    }
    .mobile{
      display: block;
    }
    .sub-call {
      width: 80vw;
    }
    .call-buttons {
      width: 98vw;
    }
    .call-buttons > a {
      font-size: 16px;
    }
    .container-body {
      margin: 1em;
    }
    
    .reason-div {
      /* border: 1px solid brown; */
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3em;
      margin: 1em;
      padding: 3em 1em;
    }
  }
  @media only screen and (max-width: 370px) {
    .logo {
      max-width: 150px;
      max-height: 100px;
    }
    .container-body {
      margin: 1em;
    }
    .main-call {
      /* border: 1px solid white; */
      font-size: 18px;
      width: 80vw;
      margin-top: 6em;
    }
    .sub-call {
      width: 90vw;
    }
    .call-buttons {
      width: 98vw;
    }
    .call-buttons > a {
      padding: 5px;
      font-size: 16px;
    }
    .action-divs-container {
      /* border: 1px solid rgb(231, 130, 0); */
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3em;
      padding: 3em 1em;
      margin: 10px;
      /* background-image: url("/assets/wave.svg");
          background-repeat: no-repeat; */
    }
    .reason-div {
      /* border: 1px solid brown; */
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3em;
      margin: 10px;
      padding: 3em 1em;
    }
  }
  