<a routerLink="/admin" routerLinkActive="active">
  <p style="cursor: pointer; padding:5px"> &lt;<u> <b>Back to admin panel</b></u></p>
</a>
<div class="dropzone" appDropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)"
    [class.hovering]="isHovering">

    <h3>NemiFx Dropzone</h3>
    <p>Drag and Drop an image to upload it on the server</p>
    <div class="file">
        <label class="file-label"></label>
        <input type="file" (change)="startUpload($event.target.files)">

    </div>

    <hr>
    <hr>
    <hr>

</div>
<div *ngIf="percentage | async as pct">
    <p>{{pct}}/100</p>
    <progress [value]="pct" max="100"></progress>
</div>
<div *ngIf="(snapshot | async) as snap">
    <p> {{snap.bytesTransferred}}</p>
    <button mat-flat-button color="primary" (click)="task.pause()" [disabled]="!isActive(snap)">Pause</button>
    <button mat-flat-button color="warn" (click)="task.cancel()" [disabled]="!isActive(snap)">Cancel</button>
    <button mat-flat-button color="secondary" (click)="task.resume()"
        [disabled]="!(snap?.state === 'paused')">Resume</button>


</div>
<hr><br>

<p><b>NOTE:</b>Right click on the image to copy image link</p>
<div class="card">
    <mat-card *ngFor="let image of imagesArray" style="background-color: #f0f0f0;">
        <div style="text-align: center;">
            <img [src]="image.url" alt="Image uploaded">
        </div>

        <mat-card-content style="background-color: #e3e3e3;">
            <p>{{ image.name }}</p>
            <p>{{ image.time | date: 'EEE, MMM d, h:mm a'}}</p>
            <mat-card-actions>
                <button mat-button color="warn" (click)="inProgress()">DELETE</button>
            </mat-card-actions>
        </mat-card-content>

    </mat-card>
</div>
