/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
mat-card {
  color: #212121;
}
@font-face {
  font-family: Manterah;
  src: url(assets/Manterah.ttf) format("opentype");
}

